<div>
@*
    @{
            ViewBag.Title = "InsertarFabricante";
        }

        <h2>Inserta Un Nuevo Fabricante</h2>
        <form id="frmFabricante" method="post">
            <label class="control-label col-md-2">Código:</label>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="text" name="codigo" id="codigo" class="form-control" value="" />
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="control-label col-md-2">País:</label>
                <div class="col-md-10">
                    <input type="text" name="pais" id="pais" class="form-control" value="" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" id="btnAceptar" />
            </div>
            <a href="~/MantenimientoFabricante/ListaFabricante">Regresar a la lista</a>

        </form>

        @section scripts
            {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/scripts/Validaciones/Fabricante.js")
            @Scripts.Render("~/scripts/ValidacionesGenericas.js")
        }
    *@
</div>@*Codigo viejo*@


@model SistemaLavado.Models.Fabricante
@{
    ViewBag.Title = "ModeloVista";
}
<form method="post" action="@Url.Action("agregar")">
    <h2>Agregar Pais Fabricante</h2>
    <br />
    <p>Agrega un pais con su respectivo código</p>
    <br />
    <div class="form-group">
        <label>Código</label>
        <input type="text" value="" name="cedula" class="form-control" />
    </div>
    <div class="form-group">
        <label>Pais</label>
        <input type="text" value="" name="nombre" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Agregar</button>
    </div>
</form>
    
