
@model SistemaLavado.Models.Fabricante
@{
    ViewBag.Title = "ModeloVista";
}
<form id="frmInserta" method="post" action="@Url.Action("agregaroeditar")">
    <input type="hidden" value="@Model.id_codfabricante" name="id_codfabricante" />
    <h1 class="font-weight-bolder">Agregar País Fabricante</h1>
    <br />
    <p class="text-muted">Agrega un país con su respectivo código</p>
    <br />
    <div class="form-group">
        <label>Código</label>
        <input type="text" value="@Model.codigo" name="codigo" id="codigo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Pais</label>
        <input type="text" value="@Model.pais" name="pais" id="id" class="form-control" />
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Guardar" id="btnAceptar" />
    </div> 
    <a href="~/Principal/PaginaPrincipal" type="button" class="btn btn-primary">Regresar Página Principal</a>
</form>
@section scripts
    {
    <script src="~/Scripts/ValidacionesGenericas.js"></script>
<script src="~/Scripts/ValidacionesInsertar/InsertaFabricante.js"></script>
}
