
@{
    ViewBag.Title = "InsertarFabricante";
}

<h2>Inserta Un Nuevo Fabricante</h2>
<form id="frmInsertarFabricante" method="post">
    <label class="control-label col-md-2">Código:</label>
    <div class="form-group">
        <div class="col-md-10">
            <input type="text" name="codigo" id="codigo" class="form-control" value="" />
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label class="control-label col-md-2">País:</label>
        <div class="col-md-10">
            <input type="text" name="pais" id="pais" class="form-control" value="" />
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Guardar" id="btnAceptar" />
    </div>
    <a href="~/MantenimientoFabricante/ListaFabricante">Regresar a la lista</a>

</form>

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/Insertar/InsertarFabricante.js")
    @Scripts.Render("~/scripts/ValidacionesGenericas.js")
}	