@model List<SistemaLavado.Models.pa_FabricanteRetorna_Result>
@{
    ViewBag.Title = "ListaFabricante";
}

<h2>Lista De Los Fabricantes</h2>
<br />
<p>Esta lista abarca todos los paises con sus respectivos códigos</p>
<br />  
<a href="~/MantenimientoFabricante/InsertarFabricante">Nuevo Fabricante</a>
<br />
<table class="table">
    <tr>
        <th>Código </th>
        <th>Pais</th>

    </tr>
    @{
        foreach (SistemaLavado.Models.pa_FabricanteRetorna_Result PosicionModelo in this.Model)
        {
            <tr>
                <td>@PosicionModelo.codigo</td>
                <td>@PosicionModelo.pais</td>
                <td>
                    <a href="~/MantenimientoFabricante/ModificaFabricante?id_codfabricante=@PosicionModelo.id_codfabricante">Modificar</a>
                    <br />
                    <a href="~/MantenimientoFabricante/EliminaFabricante?id_codfabricante=@PosicionModelo.id_codfabricante">Eliminar</a>
                </td>
            </tr>
        }
    }
</table>
