
@{
    ViewBag.Title = "InsertarTipoVehiculo";
}


<h2>Inserta Un Nuevo Tipo De Vehículo</h2>
<form id="frmTipoVehiculo" method="post">
    <label class="control-label col-md-2">Código:</label>
    <div class="form-group">
        <div class="col-md-10">
            <input type="text" name="codigo" id="codigo" class="form-control" value="" />
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label class="control-label col-md-2">Tipo:</label>
        <div class="col-md-10">
            <input type="text" name="tipo" id="tipo" class="form-control" value="" />
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Guardar" id="btnAceptar" />
    </div>
    <a href="~/MantenimientoTipoDeVehiculos/ListaTipoVehiculo">Regresar a la lista</a>

</form>

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/Validaciones/TipoVehiculo.js")
    @Scripts.Render("~/scripts/ValidacionesGenericas.js")
}
