@model SistemaLavado.Models.TipoVehiculo
@{
    ViewBag.Title = "ListaTipoVehiculo";
}


<div class="table-container">
    <br />
    <h1 class="font-weight-bolder">Lista Tipos De Vehículos</h1>
    <br />
    <p class="text-muted">Esta lista abarca todos los tipos de vehículos con sus respectivos códigos.</p>
    <br />
    <a href="~/Principal/PaginaPrincipal" type="button" class="btn btn-primary">Regresar Página Principal</a>
    <br />
    <br />
    <div id="Lista"></div>
    @{
        if ((TempData["respuesta"] as object) != null)
        {
            var respuesta = TempData["respuesta"];

        }
    }
</div>

@section scripts{
    <script src="~/Scripts/Validaciones/TipoVehiculo.js"></script>
}





