
@{
    ViewBag.Title = "ParaBorrarAdmin";
}

<h2>ParaBorrarAdmin</h2>
/*no subir nada al githut hasta ximena agregue la pagina a donde se va a redireccionar la pagina
de admin y de usuario solo cambiar la ubicacion en  return RedirectToAction del LoginController.cs*/


<p>@ViewBag.ultima</p>


Sesión:
• Iniciar
• Cerrar
Facturación de servicios
Mantenimiento de:
• Servicios y productos
• Tipos de vehículos
• Marcas de vehículos
• Clientes
• Vehículos
• Vehículos por cliente
Reporte de:
• Vehículos por cliente
• Servicios por cliente
• Servicios por vehículo