
@{
    ViewBag.Title = "ParaBorrarUsuarios";
}

<h2>ParaBorrarUsuarios</h2>

/*no subir nada al githut hasta ximena agregue la pagina a donde se va a redireccionar la pagina
de admin y de usuario solo cambiar la ubicacion en  return RedirectToAction del LoginController.cs*/