@model  List<SistemaLavado.Models.pa_fabricanteSelect_Result>
@{
    ViewBag.Title = "ListaFabricante";
}

<h2>ListaFabricante</h2>


<table class="table">
    <tr>
        <th>Código </th>
        <th>Pais</th>

    </tr>
    @{
        foreach (SistemaLavado.Models.pa_fabricanteSelect_Result PosicionModelo in this.Model)
        {
            <tr>
                <td>@PosicionModelo.codigo</td>
                <td>@PosicionModelo.pais</td>
            </tr>
        }
    }
</table>
